<form 
	class=" mb-5" 
	[formGroup]="askForm" 
	(ngSubmit)="onSaveAsk()">
	<h4>
		mon service:
	</h4>
	<div class="col-sm-12">
		<div class="form-group">
		    <div class="row">
		    	<div class="col-lg-5 pb-3">
		        	<label>
		        		Sur la période de :
		        	</label>
			        <div class="input-daterange input-group col-lg-12 p-0">
			            <div class="input-group date p-0 col-xs-3 col-sm-4 col-md-5 col-lg-5"
					    	 data-provide="datepicker">
						    <input type="text"
					    		   id='start'
						    	   class="datepicker form-control"
						    	   formControlName="start"
						    	   placeholder="jj/mm/aaaa" 
						    	   >
						    <div class="input-group-addon">
						        <span class="glyphicon glyphicon-th"></span>
						    </div>
						</div>
					    <span class="input-group-addon pr-3 pl-3">
					    	à
					    </span>
						<div class="input-group date p-0 col-xs-3 col-sm-4 col-md-5 col-lg-5 " data-provide="datepicker">
						    <input type="text"
						    	   id="end"
						    	   class="datepicker form-control"
						    	   placeholder="jj/mm/aaaa" 
						    	   formControlName="end">
						    <div class="input-group-addon">
						        <span class="glyphicon glyphicon-th"></span>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
		        <div class="form-group col-md-3 col-lg-2">
		        	<label>
		        		N° d'équipe: 
		        	</label>
		        	<select class="form-control"
		        			formControlName="teamNb">
		        		<option value=""
		        				hidden
		        				>
		        			-Choisir-
		        		</option>
		        		<option *ngFor="let a of array; let i = index"
		        				value="{{i+1}}">
		        			{{ i+1 }}
		        		</option>
		        		<option value="301">301</option>
		        		<option value="401">401</option>
		        		<option value="402">402</option>
		        		<option value="403">403</option>
		        		<option value="404">404</option>
		        	</select>
		        </div>
		        <div class="form-group col-md-3 col-lg-2">
		        	<label>
		        		Type de service: 
		        	</label>
		        	<select class="form-control"
		        			formControlName="type">
		        		<option value=""
		        				hidden
		        				>
		        			-Choisir-
		        		</option>
		        		<option value="Jour">Jour</option>
		        		<option value="Mixte">Mixte</option>
		        		<option value="Nuit">Nuit</option>
		        	</select>
		        </div>
		        <div class="form-group col-lg-2 col-md-3">
		        	<label>
		        		Repos: 
		        	</label>
		        	<select class="form-control"
		        			formControlName="rest">
		        		<option value=""
		        				hidden
		        				>
		        			-Choisir-
		        		</option>
		        		<option
		        			*ngFor="let r of repos; let i = index" 
		        			value="{{i}}">{{i}}</option>
		        	</select>
		        </div>
	        </div>
	        <div class="row col-md-12">
				<h4 class="col-12 pl-0">
					contre un service de:
				</h4>
				<div class="pb-3 pl-3">
					<div 
						class="form-check form-check-inline"
						*ngFor="let typeVs of typeVs.types; let i=index">
				        <input
				        	class="form-check-input" 
				        	type="checkbox" 
				        	formControlName="{{typeVs.name}}"
				           	checked
				           	selected="typeVs.selected" />
				        <label class="form-check-label" for="{{typeVs.name}}">
				        	{{typeVs.name}}
				        </label>
				    </div>
				</div>
			</div>
		</div>
	</div>
    <button 
    	class="btn btn-success"
		type="submit">
		Valider
	</button>
	<button
      class="btn btn-secondary ml-1"
      routerLink="/">
        Retour
  	</button>
</form>
