<header id="header">
	<div class="container">
		<a routerLink='/' >
			<img id="logo" src="assets/img/austerlitz.png" alt="logo Austerlitz">
		</a>
	</div>
		<nav class="col-md-12  nav">
			<div class="container" id="blocNav">
				<i id="menuMin"
				class="fas fa-bars"></i>
				<a class=" navButton items"
					routerLink="/nouvelle-demande" 
					routerLinkActive="link">
					Nouvelle demande
				</a>
				<a class="navButton items" 
				   routerLink="/demandes-en-cours"
				   routerLinkActive="link">
					Demandes en cours
				</a>
				<a class="navButton items" 
				   routerLink="/"
				   *ngIf="isAuth"
				   routerLink="mes-requetes"
				   routerLinkActive="link">
					Tableau de bord 
					<span 
					*ngIf="notif.offer > 0 || notif.ask > 0 || notif.answer > 0 || notif.status > 0"
					class="notif">{{ notif.offer + notif.ask + notif.answer + notif.status }}</span>
				</a>
				<a class="navButton items"
				   routerLink="auth/signup"
				   routerLinkActive="link"
				   *ngIf="!isAuth">
				   	M'inscrire
			    </a>
			    <a class="navButton items"
			       routerLink="auth/signin"
			       routerLinkActive="link"
			       *ngIf="!isAuth">
			       	Me connecter
			   	</a>
			   	<a class="navButton items"
			   		routerLink="/"
			   	   *ngIf="isAuth"
			   	   (click)="onSignOut(user)">
			   		Déconnexion
			   	</a>
			   	</div><div id="blocUser">
				   	<a
				   	id="user"
				   	*ngIf="authdata != null"
				   	routerLink='/'>
				   		<i class="fas fa-user-circle"></i>
				   		<span>{{ user.firstname + " " + user.name }}</span>
				   	</a>
			   </div>
			   	<!--{{ (authdata != null) ? user.firstname + " " + user.name : ''}}-->
		   
		</nav>
</header>
