<header id="header">
	<div class="container">
		<a routerLink='/' >
			<img id="logo" src="assets/img/austerlitz.png" alt="logo Austerlitz">
		</a>
	</div>
		<nav class="col-md-12  nav">
			<div class="container">
				<a class=" navButton  "
					routerLink="/nouvelle-demande" 
					routerLinkActive="link">
					Nouvelle demande
				</a>
				<a class=" navButton  " 
				   routerLink="/demandes-en-cours"
				   routerLinkActive="link">
					Demandes en cours
				</a>
				<a class=" navButton  " 
				   routerLink="/"
				   *ngIf="isAuth"
				   routerLink="mes-requetes"
				   routerLinkActive="link">
					Mes requêtes 
					<span 
					*ngIf="notif.offer > 0 || notif.ask > 0"
					class="notif">{{notif.offer + notif.ask}}</span>
				</a>
				<a class=" navButton "
				   routerLink="auth/signup"
				   routerLinkActive="link"
				   *ngIf="!isAuth">
				   	M'inscrire
			    </a>
			    <a class=" navButton "
			       routerLink="auth/signin"
			       routerLinkActive="link"
			       *ngIf="!isAuth">
			       	Me connecter
			   	</a>
			   	<a class=" navButton   "
			   	   routerLink='/'
			   	   *ngIf="isAuth"
			   	   (click)="onSignOut()">
			   		Déconnexion
			   	</a>
			   	<a
			   	id="user"
			   	*ngIf="authdata != null"
			   	routerLink='/'>
			   		<i class="fas fa-user-circle"></i>
			   		<span>{{ user.firstname + " " + user.name }}</span>
			   	</a>
			   	<!--{{ (authdata != null) ? user.firstname + " " + user.name : ''}}-->
		   </div>
		</nav>
</header>
