<footer>
	<div class="container">
		<h3 class="text-center">
			Platforme de permutation de service
		</h3>
		<h4 class="text-center">
			Ligne 10 (Austerlitz)
		</h4>
		<div>
			<h5 class="text-center">
				Liens utiles :
			</h5>
			<small class="div">
				<div>
					<ul>
						<li>
							<a href="">
								Accueil
							</a>
						</li>
						<li>
							<a href="">
								A propos
							</a>
						</li>
						<li>
							<a href="">
								Nous contacter
							</a>
						</li>
					</ul>
				</div><div>
					<ul>
						<li>
							<a href="https://heimdall.ratp.net/idp/profile/SAML2/Redirect/SSO;JSESSIONID2=302E1AF67771E5A67C2E3590DE996270?execution=e1s1" target="_blank">
								Urbanweb
							</a>
						</li>
						<li>
							<a href="https://www.ratp.fr/" target="_blank">
								Ratp
							</a>
						</li>
					</ul>
				</div>
			</small>
		</div>
	</div>
</footer>
