<footer id="footer">
	<div class="container">
		<h3>
			<strong>Plateforme de permutation de service : Ligne 10 (Austerlitz)</strong>
		</h3>
		<div>
			<small >
				<div class="div">
					<ul>
						<li>
							<a routerLink="">
								Accueil
							</a>
						</li>
						<li class="int">
							<a href="">
								A propos
							</a>
						</li>
						<li class="int">
							<a href="">
								Nous contacter
							</a>
						</li>
						<li  class="ml-4">
							<a href="https://urbanweb.ratp.net" target="_blank">
								Urbanweb
							</a>
						</li>
						<li class="ext">
							<a href="https://www.ratp.fr/" target="_blank">
								Ratp
							</a>
						</li>
					</ul>
				</div>
			</small>
		</div>
	</div>
</footer>
