<footer>
	<div class="container">
		<h3 class="text-center">
			<strong>Platforme de permutation de service</strong>
		</h3>
		<h4 class="text-center">
			<strong>Ligne 10 (Austerlitz)</strong>
		</h4>
		<div>
			<small >
				<div class="div">
					<ul>
						<li>
							<a href="">
								Accueil
							</a>
						</li>
						<li>
							<a href="">
								A propos
							</a>
						</li>
						<li>
							<a href="">
								Nous contacter
							</a>
						</li>
					</ul>
				</div><div class="div">
					<ul>
						<li>
							<a href="https://urbanweb.ratp.net" target="_blank">Urbanweb</a>
						</li>
						<li>
							<a href="https://www.ratp.fr/" target="_blank">
								Ratp
							</a>
						</li>
					</ul>
				</div>
			</small>
		</div>
	</div>
</footer>
