<div class="row d-flex justify-content-center">
  <div class="col-sm-8">
    <h2 class="text-center">Je me connecte à mon compte</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="text"
               id="email"
               class="form-control"
               formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password">
      </div>
      <div  class="row">
        <span class="w-100 text-right">
          <a routerLink="/auth/reset" class="pr-3">
            J'ai oublié mon mot de passe
          </a>
        </span>
      </div>
      <button class="valid"
              type="submit"
              [disabled]="signupForm.invalid">Connexion</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
