<div class="row">
  <h2 class="mb-5">
    Toutes les dernières demandes de permutations
  </h2>
  <p 
  *ngIf='asks === undefined'
  class="row col-12 btn-info disabled">
    Il n'y a pas encore de demandes de permutation
  </p>
  <table 
  [mfData]="data" #mf="mfDataTable"
  [mfRowsOnPage]="100"
  class="mb-5 table table-hover">
    <thead class="head">
      <tr>
        <th class="pb-2 pl-4">
          <mfDefaultSorter by="rest">
           Repos
          </mfDefaultSorter> 
        </th>
        <th class="pb-2 pl-4"> 
          <mfDefaultSorter by="user.registrationNumber">
            Matricule
          </mfDefaultSorter>
        </th>
        <th class="pb-2 pl-4"> 
          <mfDefaultSorter by="type">
            Proposé
          </mfDefaultSorter>
        </th>
        <th class="pb-2 pl-4"> 
          <mfDefaultSorter>
            Souhaité
          </mfDefaultSorter>
        </th>
        <th class="pb-2 pl-4"> 
          <mfDefaultSorter by="team">
            Equipe
          </mfDefaultSorter>
        </th>
        <th class="pb-2 pl-4"> 
          <mfDefaultSorter by="start">
            Début
          </mfDefaultSorter>
        </th>
        <th class="pb-2 pl-4"> 
          <mfDefaultSorter by="end">
            Fin
          </mfDefaultSorter>
        </th>
        <th class="pb-2 pl-4"> 
          <mfDefaultSorter>
            Action
          </mfDefaultSorter>
        </th>
        
      </tr>
    </thead>
    <tbody *ngFor="let ask of mf.data; let i = index">
        <tr
        *ngIf="IsMyOffers(ask, mf.data.length-1-i)"
        [ngStyle]="{ 'background-color' : getColor(ask) }">
          <td class="pl-4"> {{ ask.rest }} </td>
          <td class="pl-4"> {{ ask.user.registrationNumber }} </td>
          <td class="pl-4"> {{ ask.type }} </td>
          <td class="pl-4"> 
            {{ ask.typeVs.nuit == true ? "Nuit" : '' }} 
            {{ ask.typeVs.jour == true ? "Jour" : '' }}   
            {{ ask.typeVs.mixte == true ? "Mixte" : '' }}   
          </td>
          <td class="pl-4"> {{ ask.teamNb }} </td>
          <td class="pl-4"> {{ ask.start }} </td>
          <td class="pl-4"> {{ ask.end }} </td>
          <td class="pl-4">
            <button
            class=" view"
            (click)="onViewAsk(mf.data.length-1-i)"
            title="Voir"> 
              <i class="fas fa-search"></i>
            </button>
            <button 
            class="ok ml-1"
            *ngIf='ask.user.email !== user.email'
            data-toggle="modal"
            [attr.data-target]="'#'+ (mf.data.length-1-i)"
            data-whatever="@mdo"
            title="Proposer un accord"
            > 
              <i class="fas fa-handshake"></i>
            </button>
          </td>
        </tr>
        <tr
        title="Vous avez proposé un accord pour cette demande" 
        *ngIf="!IsMyOffers(ask)"
        class="isSend">
          <td class="pl-4"> {{ ask.rest }} </td>
          <td class="pl-4"> {{ ask.user.registrationNumber }} </td>
          <td class="pl-4"> {{ ask.type }} </td>
          <td class="pl-4"> 
            {{ ask.typeVs.nuit == true ? "Nuit" : '' }} 
            {{ ask.typeVs.jour == true ? "Jour" : '' }}   
            {{ ask.typeVs.mixte == true ? "Mixte" : '' }}   
          </td>
          <td class="pl-4"> {{ ask.teamNb }} </td>
          <td class="pl-4"> {{ ask.start }} </td>
          <td class="pl-4"> {{ ask.end }} </td>
          <td class="pl-4">
            <button
            class=" view"
            (click)="onViewAsk(mf.data.length-1-i)"
            title="Voir"> 
              <i class="fas fa-search"></i>
            </button>
            <i class="fas send fa-paper-plane"></i>
          </td>
        </tr>
      <app-offer [ask]="ask" [i]='mf.data.length-1-i' [user]="user"></app-offer>
      <script src='assets/modal.js'></script>
    </tbody>
    <tfoot>
      <tr>
          <td colspan="4">
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
      </tr>
  </tfoot>
  </table>
</div>
