<div class="row container  mb-5">
  <h2>Dernières demandes de permutations</h2>
  <p *ngIf='asks === undefined'
    class="row col-12 btn-info disabled">
    Il n'y a pas encore de demandes de permutation
  </p>
  <table class="col-12">
    <thead>
      <tr class="border-bottom">
        <th class="pb-2 pl-4"> Repos </th>
        <th class="pb-2 pl-4"> Proposé </th>
        <th class="pb-2 pl-4"> Souhaité </th>
        <th class="pb-2 pl-4"> Equipe </th>
        <th class="pb-2 pl-4"> Début </th>
        <th class="pb-2 pl-4"> Fin </th>
        <th class="pb-2 pl-4"> Action </th>
      </tr>
    </thead>
    <tbody *ngFor="let ask of asks; let i = index">
      <tr 
        class="border-bottom"
        [ngStyle]="{ 'background-color' : getColor(ask) }">
        <td class="pl-4"> {{ ask.rest }} </td>
        <td class="pl-4"> {{ ask.type }} </td>
        <td class="pl-4"> 
          {{ ask.typeVs.nuit == true ? "Nuit" : '' }} 
          {{ ask.typeVs.jour == true ? "Jour" : '' }}   
          {{ ask.typeVs.mixte == true ? "Mixte" : '' }}   
        </td>
        <td class="pl-4"> {{ ask.teamNb }} </td>
        <td class="pl-4"> {{ ask.start }} </td>
        <td class="pl-4"> {{ ask.end }} </td>
        <td class="pl-4"> 
          <button 
            class="btn btn-success"
            *ngIf='ask.user.email !== user.email'
            data-toggle="modal"
            [attr.data-target]="'#' + i"
            data-whatever="@mdo"
            > 
            <i class="fas fa-handshake" title="Proposer un accord"></i>
          </button>
          <button
            class="btn btn-info ml-1"
            (click)="onViewAsk(i)"> 
            <i class="fas fa-search"></i>
          </button>
        </td>
      </tr>
      <div class="modal fade" id="{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div>
                <h5 class="modal-title" id="exampleModalLabel">
                  J'accèpte de permuter avec {{ask.user.firstname}} {{ask.user.name}} :
                </h5>
                
                 <p class="mb-0 mt-2"> 
                    Pour le service en repos <strong>{{ ask.rest }}</strong>, équipe <strong>{{ ask.teamNb }} </strong> en <strong> {{ ask.type }}</strong>
                    <br>
                    sur la période du <strong>{{ ask.start }}</strong> au <strong>{{ ask.end }}</strong>
                  </p> 
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5 class="modal-title">
                  Contre mon service :
              </h5>
              <form [formGroup]="offerForm">
                <div class="form-group">
                  <div class="form-group">
                    <label>
                      Repos* : 
                    </label>
                    <select class="form-control"
                        formControlName="rest">
                      <option value="2"
                          selected = "selected"
                          >
                        {{ ask.rest }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>
                      Type de service* : 
                    </label>
                    <select class="form-control"
                        formControlName="type">
                      <option value=""
                          hidden
                          >
                        -Choisir-
                      </option>
                      <option *ngIf="ask.typeVs.jour == true" value="Jour">Jour</option>
                      <option *ngIf="ask.typeVs.mixte == true" value="Mixte">Mixte</option>
                      <option *ngIf="ask.typeVs.nuit == true" value="Nuit">Nuit</option>

                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">
                    Téléphone <small> (optionnel) </small>:
                  </label>
                  <input 
                    class="form-control"
                    formControlName="phone">
                    <small class="form-text text-muted">
                      Partager votre numéro vous permettra d'être contacté directement par téléphone ou sms.
                  </small>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">
                    Message <small> (optionnel) </small>:
                  </label>
                  <textarea 
                    class="form-control"
                    formControlName="message">
                  </textarea>
                  <small class="form-text text-muted">
                    Ce message sera envoyé par mail au conducteur {{ ask.user.firstname }} {{ ask.user.name }}. 
                  </small>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Annuler
              </button>
              <button type="button" class="btn btn-primary">
                Envoyer
              </button>
            </div>
          </div>
        </div>
      </div>
    <script src='assets/modal.js'></script>
    </tbody>
  </table>
</div>