<div class="row container  mb-5">
  <h2>Dernières demandes de permutations</h2>
  <p *ngIf='asks === undefined'
    class="row col-12 btn-info disabled">
    Il n'y a pas encore de demandes de permutation
  </p>
  <table class="table table-hover">
    <thead class="head">
      <tr>
        <th class="pb-2 pl-4"> Repos </th>
        <th class="pb-2 pl-4"> Proposé </th>
        <th class="pb-2 pl-4"> Souhaité </th>
        <th class="pb-2 pl-4"> Equipe </th>
        <th class="pb-2 pl-4"> Début </th>
        <th class="pb-2 pl-4"> Fin </th>
        <th class="pb-2 pl-4"> Action </th>
      </tr>
    </thead>
    <tbody *ngFor="let ask of asks; let i = index">
      <tr 
        
        [ngStyle]="{ 'background-color' : getColor(ask) }">
        <td class="pl-4"> {{ ask.rest }} </td>
        <td class="pl-4"> {{ ask.type }} </td>
        <td class="pl-4"> 
          {{ ask.typeVs.nuit == true ? "Nuit" : '' }} 
          {{ ask.typeVs.jour == true ? "Jour" : '' }}   
          {{ ask.typeVs.mixte == true ? "Mixte" : '' }}   
        </td>
        <td class="pl-4"> {{ ask.teamNb }} </td>
        <td class="pl-4"> {{ ask.start }} </td>
        <td class="pl-4"> {{ ask.end }} </td>
        <td class="pl-4"> 
          <button 
            class="btn btn-success"
            *ngIf='ask.user.email !== user.email'
            data-toggle="modal"
            [attr.data-target]="'#' + i"
            data-whatever="@mdo"
            title="Proposer un accord"
            > 
            <i class="fas fa-handshake"></i>
          </button>
          <button
            class="btn btn-info ml-1"
            (click)="onViewAsk(i)"
            title="Voir"> 
            <i class="fas fa-search"></i>
          </button>
        </td>
      </tr>
      <app-offer [ask]="ask" [i]="i" [user]="user"></app-offer>
      <script src='assets/modal.js'></script>
    </tbody>
  </table>
</div>
