<div class="row container  ">
	<h2 class="request mb-2">
		Requêtes de 
		<strong>
			{{ user.firstname }} {{ user.name }}
		</strong>
	</h2>
	<nav>
	  	<div 
		class="nav nav-tabs"
		id="nav-tab" role="tablist">
		    <a 
	    	class=" navButton nav-item nav-link active"
	    	id="nav-ask-tab"
	    	data-toggle="tab"
	    	href="#nav-ask"
	    	role="tab"
	    	aria-controls="nav-ask"
	    	aria-selected="true"
	    	(click)="Notif('ask')"
	    	>
				Mes demandes de permutation 
				<span
		    	*ngIf="notif.ask > 0"
		    	class="notif">
		    		{{ notif.ask }}
		    	</span>
		    </a>
		    <a 
		    class=" navButton nav-item nav-link" 
		    id="nav-proposition-tab" 
		    data-toggle="tab" 
		    href="#nav-proposition" 
		    role="tab" 
		    aria-controls="nav-proposition" 
		    aria-selected="false"
		    (click)="Notif('offer')">
		    	Mes envois
		    	<span
		    	*ngIf="notif.offer > 0"
		    	class="notif">
		    		{{ notif.offer }}
		    	</span>
		    </a>
		    <a 
	    	class=" navButton nav-item nav-link" 
	    	id="nav-answer-tab" 
	    	data-toggle="tab" 
	    	href="#nav-answer" 
	    	role="tab" 
	    	aria-controls="nav-answer"
	    	aria-selected="false"
	    	(click)="Notif('answer')">
		    	Réponses reçues 
		    	<span
		    	*ngIf="notif.answer > 0"
		    	class="notif">
		    		{{ notif.answer }}
		    	</span>
		    </a>	    
		</div>
	</nav>
	<div 
	class="p-0 col-12 tab-content" 
	id="nav-tabContent ">
	  <div 
	  class="p-0 tab-pane fade show active tablediv" 
	  id="nav-ask" 
	  role="tabpanel" 
	  aria-labelledby="nav-ask-tab">
		<table 
		*ngIf='myAsk'
		class="table table-hover">
	      <thead class="head">
	        <tr>
	        	<th class="pb-2 pl-4"> Repos </th>
				<th class="pb-2 pl-4"> Proposé </th>
				<th class="pb-2 pl-4"> Souhaité </th>
				<th class="pb-2 pl-4"> Equipe </th>
				<th class="pb-2 pl-4"> Début </th>
				<th class="pb-2 pl-4"> Fin </th>
				<th class="pb-2 pl-4"> Action </th>
	        </tr>
	      </thead>
	      <tbody *ngFor="let ask of asks; let i = index">
	        <tr *ngIf="ask.user.email == user.email">
			    <td class="pl-4"> {{ ask.rest }} </td>
			    <td class="pl-4"> {{ ask.type }} </td>
				<td class="pl-4"> 
			    	{{ ask.typeVs.nuit == true ? "Nuit" : '' }} 
			    	{{ ask.typeVs.jour == true ? "Jour" : '' }}   
			    	{{ ask.typeVs.mixte == true ? "Mixte" : '' }}   
			    </td>
			    <td class="pl-4"> {{ ask.teamNb }} </td>
			    <td class="pl-4"> {{ ask.start }} </td>
			    <td class="pl-4"> {{ ask.end }} </td>
			    <td class="pl-4"> 
		           <!-- <button
		            	title="Voir"
		            	class="view mr-1"
		            	routerLink="/demandes-en-cours/{{asks.length-1-i}}"> 
		              <i class="fas fa-search"></i>
		            </button>-->
		            <button 
	            	class="del"
	            	(confirm)="onDeleteAsk(ask)"
	            	title="Supprimer"
	            	[swal]="deleteSwal">
		            	<i class="fas fa-times"></i>
		            	<swal
						#deleteSwal
						title="Etes-vous sûr de vouloir supprimer votre demande du {{ ask.start }} au {{ ask.end }} ?"
						text="En cas de suppression, toutes les offres et réponses associées seront supprimées."
						type="warning"
						confirmButtonColor="#3085d6"
						cancelButtonColor="#d33"
						cancelButtonText="Annuler"
						[showCancelButton]="true"
						[focusCancel]="true"
						(confirm)="confirmSwal.show()"
						  >
						</swal>
						<swal
						#confirmSwal
						title="Succès !"
						text="La demande a bien été supprimée !"
						type="success"
						></swal>
		            </button>
		        </td>     
	        </tr>
	      </tbody>
	    </table>
	    
	    <p 
	    class="empty" 
	    *ngIf="!myAsk">
	    	Vous n'avez effectué aucune demande de permutation.
	    	<br>
	    	Rendez-vous dans la rubrique "Nouvelle demande" pour demander à échanger votre service avec un autre conducteur.
	    </p>
	</div> 
	<div 
	class="tab-pane fade" 
	id="nav-proposition" 
	role="tabpanel" 
	aria-labelledby="nav-proposition-tab tablediv">
	    <table
	    *ngIf="mySend"
	    class="table table-hover">
	    	<thead class="head">
	    		<tr>
					<th class="pb-2 pl-4"> Envoyée à </th>
					<th class="pb-2 pl-4"> Matricule </th>
					<th class="pb-2 pl-4"> Pour le service </th>
					<th class="pb-2 pl-4"> Début </th>
					<th class="pb-2 pl-4"> Fin </th>
					<th class="pb-2 pl-4"> Statut </th>
					<th class="pb-2 pl-4"> Action </th>
	    		</tr>
	    	</thead>
	    	<tbody *ngFor="let offer of offers; let y = index">
	    		<tr 
	    		*ngIf="offer.user.email == user.email"
	    		>
			    	<td class="pl-4"> 
			    		{{ offer.askRef.user.firstname }} {{offer.askRef.user.name}}
			    	</td>
			    	<td class="pl-4">
			    		{{ offer.askRef.user.registrationNumber }}
			    	</td>
				    <td class="pl-4">
				    	{{ offer.askRef.type }} 
				    	
				    </td>
				    <td class="pl-4"> {{offer.askRef.start}} </td>
				    <td class="pl-4"> {{offer.askRef.end}} </td>
				    
				    <td 
				    class="pl-4 accepted"
				    *ngIf="offer.response">
			    		Accepté
				    </td>
				     <td 
				     class="pl-4 refused"
				     *ngIf="offer.response == false">
			    		Refusé
				    </td>
				     <td 
				     class="pl-4 wait"
				     *ngIf="offer.response === undefined">
			    		En attente...
				    </td>
				    <td
				    *ngIf="offer.response != true" 
				    class="pl-4">
			            <button 
		            	class="del"
		            	(confirm)="onDeleteOffer(offer)"
		            	title="Supprimer"
		            	[swal]="deleteOffer">
			            	<i class="fas fa-times"></i>
			            	<swal
							#deleteOffer
							title="Etes-vous sûr de vouloir annuler l'envoi pour le service du {{ offer.askRef.start }} au {{ offer.askRef.end }} ?"
							text="En cas de suppression, votre offre n'apparaîtra plus dans les réponses de {{offer.askRef.user.firstname}} {{offer.askRef.user.name}}."
							type="warning"
							confirmButtonColor="#3085d6"
							cancelButtonColor="#d33"
							cancelButtonText="Annuler"
							[showCancelButton]="true"
							[focusCancel]="true"
							(confirm)="confirmDelOfferSwal.show()"
							  >
							</swal>
							<swal
							#confirmDelOfferSwal
							title="Succès !"
							text="L'envoi a bien été annulé !"
							type="success"
							></swal>
			            </button>
		        	</td>
		        	<td
				    *ngIf="offer.response == true" 
				    class="pl-4">
			            <!--<a 
			            *ngIf="offer.response == true"
		            	title="Télécharger la feuille de permutation"
		            	href="../../assets/upload/pdf/permutation.pdf"
		            	download="permutation">
			            	<button class="doc">
				            	<i class="fas fa-file-alt"></i>
				            </button>
			            </a>-->
			            <!--<a 
			            *ngIf="offer.response == true"
		            	title="Télécharger la feuille de permutation"
		            	routerLink="/feuille-de-permutation-de-service">
			            	<button class="doc">
				            	<i class="fas fa-file-alt"></i>
				            </button>
			            </a>-->
			            <a 
			            *ngIf="offer.response == true"
		            	title="Télécharger la feuille de permutation"
		            	routerLink="/feuille-de-permutation-de-service/{{y}}">
			            	<button class="doc">
				            	<i class="fas fa-file-alt"></i>
				            </button>
			            </a>
		        	</td>
	    		</tr>
	    	</tbody>
	    </table>
	    <p 
	    class="empty" 
	    *ngIf="!mySend">
	    	Vous n'avez encore répondu à aucune demande de permutation.
	    	<br>
	    	Rendez-vous dans la rubrique "Demandes en cours" pour répondre à une demande.
	    </p>
	</div>
	<div 
	class="tab-pane fade" 
	id="nav-answer" 
	role="tabpanel" 
	aria-labelledby="nav-answer-tab tablediv">
	    <table 
	    *ngIf="myAnswer"
	    class="table table-hover">
	    	<thead class="head">
	    		<tr>
					<th class="pb-2 pl-4"> Acceptée par </th>
					<th class="pb-2 pl-4"> Matricule </th>
					<th class="pb-2 pl-4"> Pour le service </th>
					<th class="pb-2 pl-4"> Début </th>
					<th class="pb-2 pl-4"> Fin </th>
					<th class="pb-2 pl-4"> Statut </th>
					<th class="pb-2 pl-4"> Action </th>
	    		</tr>
	    	</thead>
	    	<tbody *ngFor="let offer of offers; let y = index">
	    		<tr *ngIf="offer.askRef.user.email == user.email && offer.del != true">
			    	<td class="pl-4"> 
			    		{{ offer.user.firstname }} {{offer.user.name}}
			    	</td>
			    	<td class="pl-4">{{offer.user.registrationNumber}}</td>
				    <td class="pl-4">
				    	{{ offer.askRef.type }} 
				    	
				    </td>
				    <td class="pl-4"> {{offer.askRef.start}} </td>
				    <td class="pl-4"> {{offer.askRef.end}} </td>
				    <td 
				    class="pl-4 accepted"
				    *ngIf="offer.response">
			    		Accepté
				    </td>
				     <td 
				     class="pl-4 refused"
				     *ngIf="offer.response == false">
			    		Refusé
				    </td>
				     <td 
				     class="pl-4 wait"
				     *ngIf="offer.response === undefined">
			    		Non-traité
				    </td>
				    <td class="pl-4">
						<button
							title="Voir"
							class="view mr-1"
							(click)="onViewRequest(y)"
							> 
							<i class="fas fa-search"></i>
						</button>
						<button
				    		class="ok mr-1"
				    		title="Voir les coordonnées"
				    		data-toggle="modal"
	            			[attr.data-target]="'#' + y"
	            			data-whatever="@mdo">
				    		<i class="fas fa-user-tag"></i>
				    	</button>
			            <button 
			            *ngIf="offer.response == false" 
		            	class="del"
		            	(confirm)="onDeleteAnswer(offer)"
		            	title="Supprimer"
		            	[swal]="deleteAnswer">
			            	<i class="fas fa-times"></i>
			            	<swal
							#deleteAnswer
							title="Etes-vous sûr de vouloir supprimer la réponse pour le service du {{ offer.askRef.start }} au {{ offer.askRef.end }} ?"
							text="En cas de suppression, elle n'apparaîtra plus dans votre historique."
							type="warning"
							confirmButtonColor="#3085d6"
							cancelButtonColor="#d33"
							cancelButtonText="Annuler"
							[showCancelButton]="true"
							[focusCancel]="true"
							(confirm)="confirmDelOfferSwal.show()"
							  >
							</swal>
							<swal
							#confirmDelOfferSwal
							title="Succès !"
							text="La réponse a bien été supprimée !"
							type="success"
							></swal>
			            </button>
			            <a 
			            *ngIf="offer.response == true"
		            	title="Télécharger la feuille de permutation"
		            	href="../../assets/upload/pdf/permutation.pdf"
		            	download="permutation">
			            	<button class="doc">
				            	<i class="fas fa-file-alt"></i>
				            </button>
			            </a>
		        	</td>
	    		</tr>
	    		<div 
					class="modal fade" 
					id="{{y}}" 
					tabindex="-1" role="dialog" 
					aria-labelledby="exampleModalLabel" 
					aria-hidden="true">
				    <div class="modal-dialog" role="document">
				        <div class="modal-content">
				        	<div class="modal-header">
					        	<div>
					          		<h5 class="modal-title" id="exampleModalLabel">
					          			<i class="fas fa-user"></i>
					          			 {{ offer.user.firstname }} {{offer.user.name}}
					          		</h5>
					                 <p class="mb-0 mt-2"></p> 
					            </div>
				            	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                	<span aria-hidden="true">&times;</span>
				            	</button>
				            </div>
				            <div class="modal-body">
				            	<h5 class="modal-title"></h5>
				            	<p>
				            		<i class="far fa-envelope mr-1"></i>
				            		 <a href="mailto:{{ offer.user.email }}">{{ offer.user.email }}</a>
				            	</p>
				            	<p *ngIf="offer.phone != '' ">
				            		<i class="fas fa-phone fa-rotate-90 mr-1"></i>
				            		<a href="tel:{{ offer.phone }}">{{ offer.phone }}</a>
				            	</p>
				        	</div>
				    	</div>
					</div>
				</div>
				<script src='assets/modal.js'></script>
	    	</tbody>
	    </table>
	    <p
	    *ngIf="!myAnswer"
	    class="empty">
	    	Vous n'avez reçu aucune réponse à vos demandes de permutation pour le moment.
	    </p>
	</div>
	</div>
    <p *ngIf="asks === undefined || asks == []"
    	class="row col-12 btn-info disabled">
    	Vous n'avez pas encore fait de demandes de permutation
    </p>
    <button
      class="back mt-5"
      routerLink="/">
        Retour
  	</button>
</div>



