<div class="row container  mb-5">
	<h2 id="request" class="mb-2">
		Requêtes de 
		<strong>
			{{ user.firstname }} {{ user.name }}
		</strong>
	</h2>
	<nav>
	  	<div 
		class="nav nav-tabs"
		id="nav-tab" role="tablist">
		    <a 
	    	class=" navButton nav-item nav-link active"
	    	id="nav-ask-tab"
	    	data-toggle="tab"
	    	href="#nav-ask"
	    	role="tab"
	    	aria-controls="nav-ask"
	    	aria-selected="true">
				Mes demandes de permutations 
		    </a>
		    <a 
	    	class=" navButton nav-item nav-link" 
	    	id="nav-answer-tab" 
	    	data-toggle="tab" 
	    	href="#nav-answer" 
	    	role="tab" 
	    	aria-controls="nav-answer"
	    	aria-selected="false">
		    	Réponses à mes demandes 
		    </a>
		    <a 
		    class=" navButton nav-item nav-link" 
		    id="nav-proposition-tab" 
		    data-toggle="tab" 
		    href="#nav-proposition" 
		    role="tab" 
		    aria-controls="nav-proposition" 
		    aria-selected="false">
		    	Mes propositions d'accord
		    </a>
		</div>
	</nav>
	<div 
	class="p-0 col-12 tab-content" 
	id="nav-tabContent ">
	  <div 
	  class="p-0 tab-pane fade show active tablediv" 
	  id="nav-ask" 
	  role="tabpanel" 
	  aria-labelledby="nav-ask-tab">
		<table 
			*ngIf='asks !== undefined && asks != []'
			class="table table-hover">
	      <thead class="head">
	        <tr>
	        	<th class="pb-2 pl-4"> Repos </th>
				<th class="pb-2 pl-4"> Proposé </th>
				<th class="pb-2 pl-4"> Souhaité </th>
				<th class="pb-2 pl-4"> Equipe </th>
				<th class="pb-2 pl-4"> Début </th>
				<th class="pb-2 pl-4"> Fin </th>
				<th class="pb-2 pl-4"> Action </th>
	        </tr>
	      </thead>
	      <tbody *ngFor="let ask of asks; let i = index">
	        <tr *ngIf="ask.user.email == user.email">
			    <td class="pl-4"> {{ ask.rest }} </td>
			    <td class="pl-4"> {{ ask.type }} </td>
				<td class="pl-4"> 
			    	{{ ask.typeVs.nuit == true ? "Nuit" : '' }} 
			    	{{ ask.typeVs.jour == true ? "Jour" : '' }}   
			    	{{ ask.typeVs.mixte == true ? "Mixte" : '' }}   
			    </td>
			    <td class="pl-4"> {{ ask.teamNb }} </td>
			    <td class="pl-4"> {{ ask.start }} </td>
			    <td class="pl-4"> {{ ask.end }} </td>
			    <td class="pl-4"> 
		            <button
		            	title="Voir"
		            	class="view mr-1"
		            	routerLink="/demandes-en-cours/{{i}}"> 
		              <i class="fas fa-search"></i>
		            </button>
		            <button 
		            	class="del"
		            	(click)="onDeleteAsk(ask)"
		            	title="Supprimer">
		            	<i class="fas fa-times"></i>
		            </button>
		        </td>     
	        </tr>
	      </tbody>
	    </table>
	</div> 
	<div 
	class="tab-pane fade" 
	id="nav-answer" 
	role="tabpanel" 
	aria-labelledby="nav-answer-tab tablediv">
	    <table class="table table-hover">
	    	<thead class="head">
	    		<tr>
					<th class="pb-2 pl-4"> Acceptée par </th>
					<th class="pb-2 pl-4"> Matricule </th>
					<th class="pb-2 pl-4"> Pour le service </th>
					<th class="pb-2 pl-4"> Début </th>
					<th class="pb-2 pl-4"> Fin </th>
					<th class="pb-2 pl-4"> Action </th>
	    		</tr>
	    	</thead>
	    	<tbody *ngFor="let offer of offers; let y = index">
	    		<tr *ngIf="offer.askRef.user.email == user.email">
			    	<td class="pl-4"> 
			    		{{ offer.user.firstname }} {{offer.user.name}}
			    	</td>
			    	<td class="pl-4">Matricule</td>
				    <td class="pl-4">
				    	{{ offer.askRef.type }} 
				    	
				    </td>
				    <td class="pl-4"> {{offer.askRef.start}} </td>
				    <td class="pl-4"> {{offer.askRef.end}} </td>
				    <td class="pl-4">
				    	<button
				    		class="ok mr-1"
				    		title="Voir les coordonnées"
				    		data-toggle="modal"
	            			[attr.data-target]="'#' + y"
	            			data-whatever="@mdo">
				    		<i class="fas fa-user-tag"></i>
				    	</button>
						<button
							title="Voir"
							class="view mr-1"
							> 
							<i class="fas fa-search"></i>
						</button>
			            <button 
			            	class="del"
			            	(click)="onDeleteOffer(offer)"
			            	title="Supprimer">
			            	<i class="fas fa-times"></i>
			            </button>
		        	</td>
	    		</tr>
	    		<div 
					class="modal fade" 
					id="{{y}}" 
					tabindex="-1" role="dialog" 
					aria-labelledby="exampleModalLabel" 
					aria-hidden="true">
				    <div class="modal-dialog" role="document">
				        <div class="modal-content">
				        	<div class="modal-header">
					        	<div>
					          		<h5 class="modal-title" id="exampleModalLabel">
					          			<i class="fas fa-user"></i>
					          			 {{ offer.user.firstname }} {{offer.user.name}}
					          		</h5>
					                 <p class="mb-0 mt-2"></p> 
					            </div>
				            	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                	<span aria-hidden="true">&times;</span>
				            	</button>
				            </div>
				            <div class="modal-body">
				            	<h5 class="modal-title"></h5>
				            	<p>
				            		<i class="far fa-envelope mr-1"></i>
				            		 <a href="mailto:{{ offer.user.email }}">{{ offer.user.email }}</a>
				            	</p>
				            	<p *ngIf="offer.phone != '' ">
				            		<i class="fas fa-phone fa-rotate-90 mr-1"></i>
				            		<a href="tel:{{ offer.phone }}">{{ offer.phone }}</a>
				            	</p>
				        	</div>
				    	</div>
					</div>
				</div>
				<script src='assets/modal.js'></script>
	    	</tbody>
	    </table>
	</div>
	<div 
	class="tab-pane fade" 
	id="nav-proposition" 
	role="tabpanel" 
	aria-labelledby="nav-proposition-tab tablediv">
	    <table class="table table-hover">
	    	<thead class="head">
	    		<tr>
					<th class="pb-2 pl-4"> Envoyée à </th>
					<th class="pb-2 pl-4"> Pour le service </th>
					<th class="pb-2 pl-4"> Début </th>
					<th class="pb-2 pl-4"> Fin </th>
					<th class="pb-2 pl-4"> Action </th>
	    		</tr>
	    	</thead>
	    	<tbody *ngFor="let offer of offers; let y = index">
	    		<tr *ngIf="offer.user.email == user.email">
			    	<td class="pl-4"> 
			    		{{ offer.askRef.user.firstname }} {{offer.askRef.user.name}}
			    	</td>
				    <td class="pl-4">
				    	{{ offer.askRef.type }} 
				    	
				    </td>
				    <td class="pl-4"> {{offer.askRef.start}} </td>
				    <td class="pl-4"> {{offer.askRef.end}} </td>
				    <td class="pl-4">
			            <button 
			            	class="del"
			            	(click)="onDeleteOffer(offer)"
			            	title="Supprimer">
			            	<i class="fas fa-times"></i>
			            </button>
		        	</td>
	    		</tr>
	    	</tbody>
	    </table>
	  </div>
	</div>
    <p *ngIf="asks === undefined || asks == []"
    	class="row col-12 btn-info disabled">
    	Vous n'avez pas encore fait de demandes de permutation
    </p>
    <button
      class="back mt-5"
      routerLink="/">
        Retour
  	</button>
</div>



