<div>
	<div id="download" (click)="GeneratePdf()">
		<button>
			<i class="fas fa-download"></i>
		</button>
	</div>
	<div id="pdf">
		<img src="../../assets/upload/pdf/header.png">
		<table>
			<thead>
				<tr>
					<th>
						Pour la semaine
					</th>
					<th>
						du <span class="date">{{offer.askRef.start}}</span>
					</th>
					<th>
						au <span class="date">{{offer.askRef.end}}</span>	
					</th>
				</tr>			
			</thead>
			<tbody>
				<tr>
					<td>
						Pour la phase DF
					</td>
					<td>
						du
					</td>
					<td>
						au
					</td>
				</tr>
				<tr>
					<td>
						Pour la journée
					</td>
					<td>
						du
					</td>
					<td>
						au
					</td>
				</tr>
				<tr>
					<td>
						Pour les journées
					</td>
					<td>
						du
					</td>
					<td>
						au
					</td>
				</tr>
			</tbody>
		</table>
		<h2>entre</h2>
		<table>
			<thead>
				<tr>
					<th>
						
					</th>
					<th>
						1er agent	
					</th>
					<th>
						2ème agent	
					</th>
				</tr>			
			</thead>
			<tbody>
				<tr>
					<td>
						Nom
					</td>
					<td class="data">
						{{offer.user.name}}
					</td>
					<td class="data">
						{{offer.askRef.user.name}}
					</td>
				</tr>
				<tr>
					<td>
						Matricule
					</td>
					<td class="data">
						{{offer.user.registrationNumber}}
					</td>
					<td class="data">
						{{offer.askRef.user.registrationNumber}}
					</td>
				</tr>
				<tr>
					<td>
						Repos
					</td>
					<td class="data">
						{{offer.rest}}
					</td>
					<td class="data">
						{{offer.askRef.rest}}
					</td>
				</tr>
				<tr>
					<td>
						Service prévu
					</td>
					<td class="data">
						{{offer.teamNb}}
					</td>
					<td class="data">
						{{offer.askRef.teamNb}}
					</td>
				</tr>
				<tr>
					<td>
						Signature
					</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<img src="../../assets/upload/pdf/footer.png">
	</div>
</div>