<div class="row container ">
	<section>
		<h2 class="mb-2">
	  		<strong>{{ offer.user.firstname }} {{ offer.user.name}} </strong> 
	  		<span
	  		*ngIf="offer.response === undefined">
	  			attend
  			</span>
  			<span
	  		*ngIf="offer.response !== undefined">
	  			a reçu
  			</span>
  			votre réponse pour échanger avec vous sur la période :
		</h2>

		<h3 id="period">
			{{ offer.askRef.start }} - {{ offer.askRef.end }}
		</h3>
		<article class="bloc" *ngIf='offer.message !== "" '>
			<h4>
				Vous avez reçu un message de sa part :
			</h4>
			<p class="quote">
				{{ offer.message }}
			</p>
		</article>
		<article>
			<h4
			*ngIf="offer.response === undefined">
				Faites-lui savoir si son service vous convient
			</h4>
			<h4
			*ngIf="offer.response !== undefined">
				Son service :
			</h4>
			<table class="table table-hover">
			    <thead class="head">
			      <tr>
			        <th class="pb-2 pl-4"> Repos </th>
			        <th class="pb-2 pl-4"> Type </th>
			        <th class="pb-2 pl-4"> Equipe </th>
			      </tr>
			    </thead>
			    <tbody>
					<tr>
				        <td data-label="Repos"> {{ offer.rest }} </td>
				        <td data-label="Type"> {{ offer.type }} </td>
				        <td data-label="Equipe"> {{ offer.teamNb }} </td>
		    		</tr>
				</tbody>
			</table>
			<h4
			*ngIf="offer.response == true">
				Téléchargez dès maintenant la feuille de permutation de services :
			</h4>
			<div  
			id="button"
			*ngIf="offer.response == true">
				
	            <a 
	        	title="Télécharger la feuille de permutation"
	        	routerLink="/feuille-de-permutation-de-service/{{id}}">
	            	<button class="doc">
		            	<i class="fas fa-file-alt"></i>
		            </button>
	            </a>

			</div>
			
		</article>

		<div *ngIf="offer.response === undefined">
			<button
			class="ok mr-3"
			(click)="Accepted(offer)" >
				Accepter
			</button>
			<button 
			class="del"
			(click)="Refused(offer)">
				Refuser
			</button>
		</div>
		<button 
			class="back mt-5 mb-3 mr-3"
			routerLink="/mes-requetes">
				Retour
			</button>
	</section>
</div>

