<section>
	<h2>
		Guide d'utilisation
	</h2>
	<article>
		<h3 
		class="link"
		type="button"
		data-toggle="collapse"
		data-target="#intro"
		aria-expanded="true"
		aria-controls="intro">
			Introduction
		</h3>
		<p
		class="collapse"
		id="intro">
			Cette plateforme a pour but de mettre en relation les conducteurs du même terminus pour faciliter les permutations de services entre collègues.
		</p>
	</article>
	<article>
		<h3 
		class="link"
		type="button"
		data-toggle="collapse"
		data-target="#menu"
		aria-expanded="true"
		aria-controls="menu">
			Guide du menu
		</h3>
		<div
		class="collapse"
		id="menu">	
			<h3 
			class="link"
			type="button"
			data-toggle="collapse"
			data-target="#ask"
			aria-expanded="true"
			aria-controls="ask">
				Nouvelle demande
			</h3>
			<p
			class="collapse"
			id="ask">
				
			</p>
			<h3 
			class="link"
			type="button"
			data-toggle="collapse"
			data-target="#asks"
			aria-expanded="true"
			aria-controls="asks">
				Demandes en cours
			</h3>
			<p
			class="collapse"
			id="asks">
				
			</p>
			<h3 
			class="link"
			type="button"
			data-toggle="collapse"
			data-target="#dashboard"
			aria-expanded="true"
			aria-controls="dashboard">
				Tableau de bord
			</h3>
			<p
			class="collapse"
			id="dashboard">
				
			</p>
			
		</div>
	</article>
	<article>
		<h3 
		class="link"
		type="button"
		data-toggle="collapse"
		data-target="#howToAsk"
		aria-expanded="true"
		aria-controls="howToAsk">
			Comment proposer mon service aux autres ?
		</h3>
		<p
		class="collapse"
		id="howToAsk">
			Pour poster une demande qui sera visible par tous vos collègues conducteurs enregistrés sur la plateforme, il vous suffit de cliquer sur l'onglet "nouvelle demande" dans le menu et de renseigner le formulaire. Vérifiez que les informations que vous avez entrées sont exactes car vous ne pourrez plus les modifier. Cliquez ensuite sur "Valider". Votre demande apparaîtra en orange dans la liste des "demandes en cours" accessible via le menu. 
		</p>
	</article>
	<article>
		<h3 
		class="link"
		type="button"
		data-toggle="collapse"
		data-target="#notif"
		aria-expanded="true"
		aria-controls="notif">
			A quoi servent les notifications ?
		</h3>
		<div class="collapse" id="notif">
			<p>
			Les notifications apparaissent dans 4 cas :
			</p>
			<ol>
				<li>
					Lorsque vous publiez une demande de permutation.
				</li>
				<li>
					Lorsque vous recevez une réponse à vos demandes.
				</li>
				<li>
					Lorsque vous postulez à une demande en cours.
				</li>
				<li>
					Lorsque le service pour lequel vous avez postulé a été valider ou refusé par le demandeur. 
				</li>
			</ol>
		</div>
		
	</article>




</section>

