h2{
	text-align: center;
	padding: 25px 0;
}
h3{
	color: #fff;
	cursor: pointer;
    padding: 5px 10px;
}
#menu{
	padding: 0 10px;
}
.request{
	padding: 0 20px;
}
.request h3{
	background-color: #3350b2cc !important;
}

#menu .link{
	background-color: #3350b2f2;
}
#notif p{
	margin: 0;
}
.fa-sort-down{
	margin-left: 5px;
	vertical-align: text-top;
}
